@model List<string>
@{
    ViewData["Title"] = "Check Restaurant";
}

<div class="text-center">
    @if (Model.Count == 0)
    {
        <p>There´s no restaurant open at that time :(</p>
    }
    else
    {
        <p>restaurantes open at time:</p>
        <table cellpadding="4" align="center">
            @{bool putcolor = true;}
            @foreach (var row in Model)
            {
                @if (putcolor)
                {
                    putcolor = false;
                    <tr bgcolor="#e6e6e6">
                        <td>@row.Split(',')[0], from @row.Split(',')[1]</td>
                    </tr>
                }
                else
                {
                    putcolor = true;
            <tr>
                <td>@row.Split(',')[0], from @row.Split(',')[1]</td>
            </tr>
        }
            }
        </table>
    }
</div>
